:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
  --signature-font: "WindSong", cursive;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.hero-image {
  background: linear-gradient(45deg, #05365c, #77056c);
  padding: 80px 0px;
  max-width: 100%;
  height: auto;
}

.hero-text {
  text-align: center;
  color: white;
}

p {
  font-family: var(--secondary-font);
  font-size: 24px;
}

h1 {
  font-size: 72px;
  font-family: var(--main-font);
  text-shadow: 1px 1px 2px white;
  margin-bottom: 15px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 32px;
  text-align: center;
  color: #05365c;
}

footer {
  font-family: var(--secondary-font);
  font-size: 16px;
  text-align: center;
  margin: 30px;
  color: #3e2762;
  padding: 20px;
}

.about-button,
.portfolio-button {
  padding: 20px 30px;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 15px;
  font-family: var(--secondary-font);
  background-color: white;
  width: 220px;
  font-weight: 700;
}

.about-button {
  color: #77056c;
}

.about-button:hover {
  background-color: #77056c;
  color: white;
}

.portfolio-button {
  color: #05365c;
}

.portfolio-button:hover {
  background-color: #05365c;
  color: white;
}

.social-media-links {
  text-align: center;
  border: 2px solid #05365c;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 900px;
  padding: 40px;
}

.fab {
  color: #77056c;
  margin: 10px;
}
@media (max-width: 900px) {
  .about-button,
  .portfolio-button {
    font-size: 12px;
    width: 150px;
    padding: 10px 5px;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }
}
