:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
  --signature-font: "Dancing Script", cursive;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

p {
  font-family: var(--secondary-font);
  font-size: 24px;
}

h1 {
  font-size: 72px;
  font-family: var(--main-font);
  text-shadow: 1px 1px 2px white;
  margin-bottom: 15px;
}

h2 {
  font-family: var(--signature-font);
  font-size: 40px;
  line-height: 80px;
}

h3 {
  font-family: var(--main-font);
  font-size: 36px;
  text-align: center;
  color: #05365c;
}

h4 {
  font-family: var(--signature-font);
  color: #3e2762;
  font-size: 28px;
}

footer {
  font-family: var(--secondary-font);
  font-size: 16px;
  text-align: center;
  margin: 30px;
  color: #3e2762;
  padding: 20px;
}

/*Hero Section*/

.logo {
  max-width: 60px;
  margin-left: 10px;
}

.hero-image {
  background: linear-gradient(45deg, #05365c, #77056c);
  padding: 175px 0px 100px;
  max-width: 100%;
  height: auto;
}

.hero-image.about-page {
  padding-top: 90px;
}

.hero-text {
  text-align: center;
  color: white;
}

/*Buttons*/

.about-button,
.portfolio-button {
  padding: 20px 30px;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 15px;
  font-family: var(--secondary-font);
  background-color: white;
  width: 220px;
  font-weight: 700;
}

.about-button {
  color: #77056c;
}

.about-button:hover {
  background-color: #77056c;
  color: white;
}

.portfolio-button {
  color: #05365c;
}

.portfolio-button:hover {
  background-color: #05365c;
  color: white;
}

.art-button {
  color: white;
  background-color: #3e2762;
  border: 2px solid #e9e3f2;
  box-shadow: 5px 5px 5px #3e2762;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  font-size: 22px;
  font-family: var(--signature-font);
}

.art-button:hover {
  background-color: white;
  color: #3e2762;
  border: 2px solid #3e2762;
}

/*Social Links*/

.social-media-links {
  text-align: center;
  border: 2px solid #05365c;
  display: block;
  margin: 0 auto;
  margin-top: 60px;

  max-width: 900px;
  padding: 40px;
}

.fab {
  color: #77056c;
  margin: 10px;
}

.fab:hover {
  color: #05365c;
}

/*General Content*/

.content-text {
  text-align: center;
  margin: 50px 0px;
}

.content-text p {
  color: #77056c;
}

/*About Page Content*/

.about-title {
  margin-top: 220px;
  margin-left: -30px;
}

.content-text h3 {
  margin: 50px 0 30px 0;
}

.qualifications-text {
  background-color: #e9e3f2;
  padding: 10px 0 30px;
  max-width: 100%;
  height: auto;
  margin: 40px 0;
  border-radius: 5px;
}

.skills-text {
  padding: 140px 30px;
  text-align: center;
}

.interests-text {
  margin-bottom: 50px;
}

.icon-title {
  padding: 70px 0 30px;
}

/*About Page Pictures*/

.certificates {
  max-width: 325px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.profile-pic {
  max-width: 325px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 100px;
}

.icon {
  max-width: 35px;
  text-align: center !important;
  display: block;
  margin: 0 auto;
  padding: 10px 0 0;
}

/*Links*/

.shecodes-link {
  color: #3e2762;
  text-decoration: none;
}

.shecodes-link:hover {
  color: #05365c;
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: white;
}

/*Responsive*/

@media (max-width: 900px) {
  .about-button,
  .portfolio-button {
    font-size: 12px;
    width: 150px;
    padding: 10px 5px;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  footer {
    font-size: 12px;
  }

  .social-media-links {
    max-width: 600px;
    padding: 20px;
  }

  .profile-pic {
    max-width: 250px;
  }

  .certificates {
    max-width: 250px;
  }

  .qualifications-text p {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .about-title {
    margin-top: 150px;
    margin-left: 0;
  }

  .icon-title {
    margin-top: 50px;
  }
}

@media (max-width: 580px) {
  .social-media-links {
    max-width: 300px;
    padding: 20px;
  }

  .about-title {
    margin-top: 70px;
    margin-left: 0;
  }

  .profile-pic {
    margin-top: 40px;
    max-width: 200px;
  }

  .hero-image.about-page {
    padding-bottom: 60px;
  }

  .project-link {
    display: block;
    margin: 0 20px;
    text-align: center;
  }
}
